<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="PublishedFiles" Directory="INSTALLFOLDER">
      <Component Id="File_aspnetcorev2_inprocess_dll" Guid="*">
        <File Id="File_1" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/aspnetcorev2_inprocess.dll" />
      </Component>
      <Component Id="File_HSPrint_staticwebassets_endpoints_json" Guid="*">
        <File Id="File_2" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/HSPrint.staticwebassets.endpoints.json" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Antiforgery_dll" Guid="*">
        <File Id="File_3" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Antiforgery.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authentication_Abstractions_dll" Guid="*">
        <File Id="File_4" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authentication.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authentication_BearerToken_dll" Guid="*">
        <File Id="File_5" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authentication.BearerToken.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authentication_Cookies_dll" Guid="*">
        <File Id="File_6" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authentication.Cookies.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authentication_Core_dll" Guid="*">
        <File Id="File_7" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authentication.Core.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authentication_dll" Guid="*">
        <File Id="File_8" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authentication.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authentication_OAuth_dll" Guid="*">
        <File Id="File_9" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authentication.OAuth.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authorization_dll" Guid="*">
        <File Id="File_10" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authorization.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Authorization_Policy_dll" Guid="*">
        <File Id="File_11" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Authorization.Policy.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Components_Authorization_dll" Guid="*">
        <File Id="File_12" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Components.Authorization.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Components_dll" Guid="*">
        <File Id="File_13" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Components.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Components_Endpoints_dll" Guid="*">
        <File Id="File_14" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Components.Endpoints.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Components_Forms_dll" Guid="*">
        <File Id="File_15" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Components.Forms.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Components_Server_dll" Guid="*">
        <File Id="File_16" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Components.Server.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Components_Web_dll" Guid="*">
        <File Id="File_17" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Components.Web.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Connections_Abstractions_dll" Guid="*">
        <File Id="File_18" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Connections.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_CookiePolicy_dll" Guid="*">
        <File Id="File_19" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.CookiePolicy.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Cors_dll" Guid="*">
        <File Id="File_20" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Cors.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Cryptography_Internal_dll" Guid="*">
        <File Id="File_21" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Cryptography.Internal.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Cryptography_KeyDerivation_dll" Guid="*">
        <File Id="File_22" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Cryptography.KeyDerivation.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_DataProtection_Abstractions_dll" Guid="*">
        <File Id="File_23" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.DataProtection.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_DataProtection_dll" Guid="*">
        <File Id="File_24" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.DataProtection.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_DataProtection_Extensions_dll" Guid="*">
        <File Id="File_25" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.DataProtection.Extensions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Diagnostics_Abstractions_dll" Guid="*">
        <File Id="File_26" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Diagnostics.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Diagnostics_dll" Guid="*">
        <File Id="File_27" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Diagnostics.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Diagnostics_HealthChecks_dll" Guid="*">
        <File Id="File_28" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Diagnostics.HealthChecks.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_dll" Guid="*">
        <File Id="File_29" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_HostFiltering_dll" Guid="*">
        <File Id="File_30" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.HostFiltering.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Hosting_Abstractions_dll" Guid="*">
        <File Id="File_31" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Hosting.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Hosting_dll" Guid="*">
        <File Id="File_32" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Hosting.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Hosting_Server_Abstractions_dll" Guid="*">
        <File Id="File_33" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Hosting.Server.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Html_Abstractions_dll" Guid="*">
        <File Id="File_34" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Html.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Http_Abstractions_dll" Guid="*">
        <File Id="File_35" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Http.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Http_Connections_Common_dll" Guid="*">
        <File Id="File_36" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Http.Connections.Common.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Http_Connections_dll" Guid="*">
        <File Id="File_37" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Http.Connections.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Http_dll" Guid="*">
        <File Id="File_38" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Http.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Http_Extensions_dll" Guid="*">
        <File Id="File_39" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Http.Extensions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Http_Features_dll" Guid="*">
        <File Id="File_40" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Http.Features.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Http_Results_dll" Guid="*">
        <File Id="File_41" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Http.Results.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_HttpLogging_dll" Guid="*">
        <File Id="File_42" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.HttpLogging.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_HttpOverrides_dll" Guid="*">
        <File Id="File_43" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.HttpOverrides.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_HttpsPolicy_dll" Guid="*">
        <File Id="File_44" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.HttpsPolicy.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Identity_dll" Guid="*">
        <File Id="File_45" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Identity.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Localization_dll" Guid="*">
        <File Id="File_46" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Localization.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Localization_Routing_dll" Guid="*">
        <File Id="File_47" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Localization.Routing.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Metadata_dll" Guid="*">
        <File Id="File_48" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Metadata.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_Abstractions_dll" Guid="*">
        <File Id="File_49" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_ApiExplorer_dll" Guid="*">
        <File Id="File_50" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.ApiExplorer.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_Core_dll" Guid="*">
        <File Id="File_51" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.Core.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_Cors_dll" Guid="*">
        <File Id="File_52" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.Cors.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_DataAnnotations_dll" Guid="*">
        <File Id="File_53" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.DataAnnotations.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_dll" Guid="*">
        <File Id="File_54" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_Formatters_Json_dll" Guid="*">
        <File Id="File_55" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.Formatters.Json.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_Formatters_Xml_dll" Guid="*">
        <File Id="File_56" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.Formatters.Xml.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_Localization_dll" Guid="*">
        <File Id="File_57" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.Localization.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_Razor_dll" Guid="*">
        <File Id="File_58" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.Razor.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_RazorPages_dll" Guid="*">
        <File Id="File_59" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.RazorPages.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_TagHelpers_dll" Guid="*">
        <File Id="File_60" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.TagHelpers.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Mvc_ViewFeatures_dll" Guid="*">
        <File Id="File_61" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Mvc.ViewFeatures.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_OpenApi_dll" Guid="*">
        <File Id="File_62" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.OpenApi.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_OutputCaching_dll" Guid="*">
        <File Id="File_63" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.OutputCaching.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_RateLimiting_dll" Guid="*">
        <File Id="File_64" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.RateLimiting.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Razor_dll" Guid="*">
        <File Id="File_65" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Razor.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Razor_Runtime_dll" Guid="*">
        <File Id="File_66" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Razor.Runtime.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_RequestDecompression_dll" Guid="*">
        <File Id="File_67" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.RequestDecompression.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_ResponseCaching_Abstractions_dll" Guid="*">
        <File Id="File_68" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.ResponseCaching.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_ResponseCaching_dll" Guid="*">
        <File Id="File_69" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.ResponseCaching.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_ResponseCompression_dll" Guid="*">
        <File Id="File_70" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.ResponseCompression.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Rewrite_dll" Guid="*">
        <File Id="File_71" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Rewrite.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Routing_Abstractions_dll" Guid="*">
        <File Id="File_72" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Routing.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Routing_dll" Guid="*">
        <File Id="File_73" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Routing.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_HttpSys_dll" Guid="*">
        <File Id="File_74" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.HttpSys.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_IIS_dll" Guid="*">
        <File Id="File_75" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.IIS.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_IISIntegration_dll" Guid="*">
        <File Id="File_76" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.IISIntegration.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_Kestrel_Core_dll" Guid="*">
        <File Id="File_77" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.Kestrel.Core.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_Kestrel_dll" Guid="*">
        <File Id="File_78" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.Kestrel.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_Kestrel_Transport_NamedPipes_dll" Guid="*">
        <File Id="File_79" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.Kestrel.Transport.NamedPipes.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_Kestrel_Transport_Quic_dll" Guid="*">
        <File Id="File_80" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.Kestrel.Transport.Quic.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Server_Kestrel_Transport_Sockets_dll" Guid="*">
        <File Id="File_81" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_Session_dll" Guid="*">
        <File Id="File_82" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.Session.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_SignalR_Common_dll" Guid="*">
        <File Id="File_83" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.SignalR.Common.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_SignalR_Core_dll" Guid="*">
        <File Id="File_84" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.SignalR.Core.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_SignalR_dll" Guid="*">
        <File Id="File_85" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.SignalR.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_SignalR_Protocols_Json_dll" Guid="*">
        <File Id="File_86" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.SignalR.Protocols.Json.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_StaticFiles_dll" Guid="*">
        <File Id="File_87" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.StaticFiles.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_WebSockets_dll" Guid="*">
        <File Id="File_88" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.WebSockets.dll" />
      </Component>
      <Component Id="File_Microsoft_AspNetCore_WebUtilities_dll" Guid="*">
        <File Id="File_89" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.AspNetCore.WebUtilities.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Caching_Abstractions_dll" Guid="*">
        <File Id="File_90" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Caching.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Caching_Memory_dll" Guid="*">
        <File Id="File_91" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Caching.Memory.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_Abstractions_dll" Guid="*">
        <File Id="File_92" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_Binder_dll" Guid="*">
        <File Id="File_93" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.Binder.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_CommandLine_dll" Guid="*">
        <File Id="File_94" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.CommandLine.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_dll" Guid="*">
        <File Id="File_95" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_EnvironmentVariables_dll" Guid="*">
        <File Id="File_96" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.EnvironmentVariables.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_FileExtensions_dll" Guid="*">
        <File Id="File_97" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.FileExtensions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_Ini_dll" Guid="*">
        <File Id="File_98" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.Ini.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_Json_dll" Guid="*">
        <File Id="File_99" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.Json.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_KeyPerFile_dll" Guid="*">
        <File Id="File_100" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.KeyPerFile.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_UserSecrets_dll" Guid="*">
        <File Id="File_101" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.UserSecrets.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Configuration_Xml_dll" Guid="*">
        <File Id="File_102" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Configuration.Xml.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_DependencyInjection_Abstractions_dll" Guid="*">
        <File Id="File_103" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_DependencyInjection_dll" Guid="*">
        <File Id="File_104" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.DependencyInjection.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_DependencyModel_dll" Guid="*">
        <File Id="File_105" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.DependencyModel.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Diagnostics_Abstractions_dll" Guid="*">
        <File Id="File_106" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Diagnostics.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Diagnostics_dll" Guid="*">
        <File Id="File_107" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Diagnostics.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Diagnostics_HealthChecks_Abstractions_dll" Guid="*">
        <File Id="File_108" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Diagnostics_HealthChecks_dll" Guid="*">
        <File Id="File_109" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Diagnostics.HealthChecks.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Features_dll" Guid="*">
        <File Id="File_110" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Features.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_FileProviders_Abstractions_dll" Guid="*">
        <File Id="File_111" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.FileProviders.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_FileProviders_Composite_dll" Guid="*">
        <File Id="File_112" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.FileProviders.Composite.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_FileProviders_Embedded_dll" Guid="*">
        <File Id="File_113" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.FileProviders.Embedded.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_FileProviders_Physical_dll" Guid="*">
        <File Id="File_114" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.FileProviders.Physical.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_FileSystemGlobbing_dll" Guid="*">
        <File Id="File_115" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.FileSystemGlobbing.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Hosting_Abstractions_dll" Guid="*">
        <File Id="File_116" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Hosting.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Hosting_dll" Guid="*">
        <File Id="File_117" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Hosting.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Hosting_WindowsServices_dll" Guid="*">
        <File Id="File_118" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Hosting.WindowsServices.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Http_dll" Guid="*">
        <File Id="File_119" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Http.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Identity_Core_dll" Guid="*">
        <File Id="File_120" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Identity.Core.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Identity_Stores_dll" Guid="*">
        <File Id="File_121" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Identity.Stores.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Localization_Abstractions_dll" Guid="*">
        <File Id="File_122" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Localization.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Localization_dll" Guid="*">
        <File Id="File_123" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Localization.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_Abstractions_dll" Guid="*">
        <File Id="File_124" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.Abstractions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_Configuration_dll" Guid="*">
        <File Id="File_125" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.Configuration.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_Console_dll" Guid="*">
        <File Id="File_126" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.Console.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_Debug_dll" Guid="*">
        <File Id="File_127" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.Debug.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_dll" Guid="*">
        <File Id="File_128" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_EventLog_dll" Guid="*">
        <File Id="File_129" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.EventLog.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_EventSource_dll" Guid="*">
        <File Id="File_130" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.EventSource.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Logging_TraceSource_dll" Guid="*">
        <File Id="File_131" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Logging.TraceSource.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_ObjectPool_dll" Guid="*">
        <File Id="File_132" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.ObjectPool.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Options_ConfigurationExtensions_dll" Guid="*">
        <File Id="File_133" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Options.ConfigurationExtensions.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Options_DataAnnotations_dll" Guid="*">
        <File Id="File_134" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Options.DataAnnotations.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Options_dll" Guid="*">
        <File Id="File_135" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Options.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_Primitives_dll" Guid="*">
        <File Id="File_136" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.Primitives.dll" />
      </Component>
      <Component Id="File_Microsoft_Extensions_WebEncoders_dll" Guid="*">
        <File Id="File_137" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Extensions.WebEncoders.dll" />
      </Component>
      <Component Id="File_Microsoft_JSInterop_dll" Guid="*">
        <File Id="File_138" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.JSInterop.dll" />
      </Component>
      <Component Id="File_Microsoft_Net_Http_Headers_dll" Guid="*">
        <File Id="File_139" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.Net.Http.Headers.dll" />
      </Component>
      <Component Id="File_Microsoft_OpenApi_dll" Guid="*">
        <File Id="File_140" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Microsoft.OpenApi.dll" />
      </Component>
      <Component Id="File_rest_client_env_json" Guid="*">
        <File Id="File_141" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/rest-client.env.json" />
      </Component>
      <Component Id="File_Serilog_AspNetCore_dll" Guid="*">
        <File Id="File_142" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.AspNetCore.dll" />
      </Component>
      <Component Id="File_Serilog_dll" Guid="*">
        <File Id="File_143" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.dll" />
      </Component>
      <Component Id="File_Serilog_Extensions_Hosting_dll" Guid="*">
        <File Id="File_144" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.Extensions.Hosting.dll" />
      </Component>
      <Component Id="File_Serilog_Extensions_Logging_dll" Guid="*">
        <File Id="File_145" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.Extensions.Logging.dll" />
      </Component>
      <Component Id="File_Serilog_Formatting_Compact_dll" Guid="*">
        <File Id="File_146" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.Formatting.Compact.dll" />
      </Component>
      <Component Id="File_Serilog_Settings_Configuration_dll" Guid="*">
        <File Id="File_147" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.Settings.Configuration.dll" />
      </Component>
      <Component Id="File_Serilog_Sinks_Console_dll" Guid="*">
        <File Id="File_148" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.Sinks.Console.dll" />
      </Component>
      <Component Id="File_Serilog_Sinks_Debug_dll" Guid="*">
        <File Id="File_149" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.Sinks.Debug.dll" />
      </Component>
      <Component Id="File_Serilog_Sinks_File_dll" Guid="*">
        <File Id="File_150" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Serilog.Sinks.File.dll" />
      </Component>
      <Component Id="File_Swashbuckle_AspNetCore_Swagger_dll" Guid="*">
        <File Id="File_151" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Swashbuckle.AspNetCore.Swagger.dll" />
      </Component>
      <Component Id="File_Swashbuckle_AspNetCore_SwaggerGen_dll" Guid="*">
        <File Id="File_152" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Swashbuckle.AspNetCore.SwaggerGen.dll" />
      </Component>
      <Component Id="File_Swashbuckle_AspNetCore_SwaggerUI_dll" Guid="*">
        <File Id="File_153" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/Swashbuckle.AspNetCore.SwaggerUI.dll" />
      </Component>
      <Component Id="File_System_IO_Pipelines_dll" Guid="*">
        <File Id="File_154" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/System.IO.Pipelines.dll" />
      </Component>
      <Component Id="File_System_Threading_RateLimiting_dll" Guid="*">
        <File Id="File_155" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/System.Threading.RateLimiting.dll" />
      </Component>
      <Component Id="File_web_config" Guid="*">
        <File Id="File_156" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/publish/web.config" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>