<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ConfigToolFiles" Directory="INSTALLFOLDER">
      <Component Id="ConfigTool_Accessibility_dll" Guid="*">
        <File Id="ConfigToolFile_1" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/Accessibility.dll" />
      </Component>
      <Component Id="ConfigTool_D3DCompiler_47_cor3_dll" Guid="*">
        <File Id="ConfigToolFile_2" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/D3DCompiler_47_cor3.dll" />
      </Component>
      <Component Id="ConfigTool_DirectWriteForwarder_dll" Guid="*">
        <File Id="ConfigToolFile_3" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/DirectWriteForwarder.dll" />
      </Component>
      <Component Id="ConfigTool_logo_ico" Guid="*">
        <File Id="ConfigToolFile_4" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/logo.ico" />
      </Component>
      <Component Id="ConfigTool_Microsoft_VisualBasic_Forms_dll" Guid="*">
        <File Id="ConfigToolFile_5" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/Microsoft.VisualBasic.Forms.dll" />
      </Component>
      <Component Id="ConfigTool_Microsoft_Win32_Registry_AccessControl_dll" Guid="*">
        <File Id="ConfigToolFile_6" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/Microsoft.Win32.Registry.AccessControl.dll" />
      </Component>
      <Component Id="ConfigTool_PenImc_cor3_dll" Guid="*">
        <File Id="ConfigToolFile_7" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PenImc_cor3.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationCore_dll" Guid="*">
        <File Id="ConfigToolFile_8" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationCore.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_Aero_dll" Guid="*">
        <File Id="ConfigToolFile_9" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework.Aero.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_Aero2_dll" Guid="*">
        <File Id="ConfigToolFile_10" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework.Aero2.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_AeroLite_dll" Guid="*">
        <File Id="ConfigToolFile_11" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework.AeroLite.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_Classic_dll" Guid="*">
        <File Id="ConfigToolFile_12" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework.Classic.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_dll" Guid="*">
        <File Id="ConfigToolFile_13" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_Luna_dll" Guid="*">
        <File Id="ConfigToolFile_14" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework.Luna.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_Royale_dll" Guid="*">
        <File Id="ConfigToolFile_15" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework.Royale.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_SystemCore_dll" Guid="*">
        <File Id="ConfigToolFile_16" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework-SystemCore.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_SystemData_dll" Guid="*">
        <File Id="ConfigToolFile_17" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework-SystemData.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_SystemDrawing_dll" Guid="*">
        <File Id="ConfigToolFile_18" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework-SystemDrawing.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_SystemXml_dll" Guid="*">
        <File Id="ConfigToolFile_19" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework-SystemXml.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationFramework_SystemXmlLinq_dll" Guid="*">
        <File Id="ConfigToolFile_20" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationFramework-SystemXmlLinq.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationNative_cor3_dll" Guid="*">
        <File Id="ConfigToolFile_21" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationNative_cor3.dll" />
      </Component>
      <Component Id="ConfigTool_PresentationUI_dll" Guid="*">
        <File Id="ConfigToolFile_22" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/PresentationUI.dll" />
      </Component>
      <Component Id="ConfigTool_ReachFramework_dll" Guid="*">
        <File Id="ConfigToolFile_23" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/ReachFramework.dll" />
      </Component>
      <Component Id="ConfigTool_System_CodeDom_dll" Guid="*">
        <File Id="ConfigToolFile_24" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.CodeDom.dll" />
      </Component>
      <Component Id="ConfigTool_System_Configuration_ConfigurationManager_dll" Guid="*">
        <File Id="ConfigToolFile_25" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Configuration.ConfigurationManager.dll" />
      </Component>
      <Component Id="ConfigTool_System_Design_dll" Guid="*">
        <File Id="ConfigToolFile_26" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Design.dll" />
      </Component>
      <Component Id="ConfigTool_System_Diagnostics_PerformanceCounter_dll" Guid="*">
        <File Id="ConfigToolFile_27" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Diagnostics.PerformanceCounter.dll" />
      </Component>
      <Component Id="ConfigTool_System_DirectoryServices_dll" Guid="*">
        <File Id="ConfigToolFile_28" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.DirectoryServices.dll" />
      </Component>
      <Component Id="ConfigTool_System_Drawing_Design_dll" Guid="*">
        <File Id="ConfigToolFile_29" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Drawing.Design.dll" />
      </Component>
      <Component Id="ConfigTool_System_IO_Packaging_dll" Guid="*">
        <File Id="ConfigToolFile_30" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.IO.Packaging.dll" />
      </Component>
      <Component Id="ConfigTool_System_Printing_dll" Guid="*">
        <File Id="ConfigToolFile_31" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Printing.dll" />
      </Component>
      <Component Id="ConfigTool_System_Resources_Extensions_dll" Guid="*">
        <File Id="ConfigToolFile_32" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Resources.Extensions.dll" />
      </Component>
      <Component Id="ConfigTool_System_Security_Cryptography_ProtectedData_dll" Guid="*">
        <File Id="ConfigToolFile_33" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Security.Cryptography.ProtectedData.dll" />
      </Component>
      <Component Id="ConfigTool_System_Security_Permissions_dll" Guid="*">
        <File Id="ConfigToolFile_34" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Security.Permissions.dll" />
      </Component>
      <Component Id="ConfigTool_System_Threading_AccessControl_dll" Guid="*">
        <File Id="ConfigToolFile_35" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Threading.AccessControl.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Controls_Ribbon_dll" Guid="*">
        <File Id="ConfigToolFile_36" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Controls.Ribbon.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Extensions_dll" Guid="*">
        <File Id="ConfigToolFile_37" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Extensions.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Forms_Design_dll" Guid="*">
        <File Id="ConfigToolFile_38" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Forms.Design.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Forms_Design_Editors_dll" Guid="*">
        <File Id="ConfigToolFile_39" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Forms.Design.Editors.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Forms_dll" Guid="*">
        <File Id="ConfigToolFile_40" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Forms.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Forms_Primitives_dll" Guid="*">
        <File Id="ConfigToolFile_41" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Forms.Primitives.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Input_Manipulations_dll" Guid="*">
        <File Id="ConfigToolFile_42" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Input.Manipulations.dll" />
      </Component>
      <Component Id="ConfigTool_System_Windows_Presentation_dll" Guid="*">
        <File Id="ConfigToolFile_43" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Windows.Presentation.dll" />
      </Component>
      <Component Id="ConfigTool_System_Xaml_dll" Guid="*">
        <File Id="ConfigToolFile_44" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/System.Xaml.dll" />
      </Component>
      <Component Id="ConfigTool_UIAutomationClient_dll" Guid="*">
        <File Id="ConfigToolFile_45" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/UIAutomationClient.dll" />
      </Component>
      <Component Id="ConfigTool_UIAutomationClientSideProviders_dll" Guid="*">
        <File Id="ConfigToolFile_46" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/UIAutomationClientSideProviders.dll" />
      </Component>
      <Component Id="ConfigTool_UIAutomationProvider_dll" Guid="*">
        <File Id="ConfigToolFile_47" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/UIAutomationProvider.dll" />
      </Component>
      <Component Id="ConfigTool_UIAutomationTypes_dll" Guid="*">
        <File Id="ConfigToolFile_48" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/UIAutomationTypes.dll" />
      </Component>
      <Component Id="ConfigTool_vcruntime140_cor3_dll" Guid="*">
        <File Id="ConfigToolFile_49" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/vcruntime140_cor3.dll" />
      </Component>
      <Component Id="ConfigTool_WindowsFormsIntegration_dll" Guid="*">
        <File Id="ConfigToolFile_50" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/WindowsFormsIntegration.dll" />
      </Component>
      <Component Id="ConfigTool_wpfgfx_cor3_dll" Guid="*">
        <File Id="ConfigToolFile_51" Source="../bin/Release/net8.0-windows10.0.26100.0/win-x64/configtool/wpfgfx_cor3.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>